/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
/* ul[class], */
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #79767643;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* убираем бордер у инпута, при фокусе */
input,
select {
    outline: none;
}



/* мои стили */
/* Первая полоса header */
.header {
    display: flex;
    margin: auto;
    width: 1600px;
    height: 1050px;
    background-color: #ffffff;

    position: relative;
}

.header-background {
    position: absolute;
    z-index: 9;
}

.header-first {
    width: 830px;
    height: 1050px;
}

.header-elem__img_one {
    width: 390px;
    height: 130px;
    position: absolute;
    z-index: 10;
}

.header-sitename {
    padding: 80px 0 0 215px;
    font-family: 'Roboto-Medium';
    font-size: 40px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.header-woomen {
    top: 65px;
    width: 830px;
    height: 990px;
    background-image: url(../img/header/first/women.png);
    position: absolute;
    z-index: 8;
}

/* Вторая полоса header */
.header-second {
    padding: 80px 0 0 48px;
    position: relative;
    z-index: 10;
}

.header-elem-two {
    top: 165px;
    left: -15px;
    position: absolute;
}

.header-nav {
    display: flex;
    width: 370px;
    height: 65px;
    margin-left: 140px;
    background-color: #fff;
    box-shadow: 0px 10px 40px #b39ef1;

    border-radius: 33px;
    font-family: 'OpenSans-Semibold';
}

.header-nav__input {
    width: 185px;
    padding: 0 20px 0 70px;
    border-right: 2px solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    background-image: url('../img/header/second/search.png');
    background-repeat: no-repeat;
    background-position: 32px 50%;
}

.header-nav__select {
    width: 150px;
    padding: 0 0 0 20px;
    opacity: 0.55;
    border: none;
}

.header-trend {
    padding-top: 200px;
    width: 630px;
    height: 450px;
    font-family: "Roboto-Bold";
    font-size: 115px;
    line-height: 110%;
}

.header-trend__top_color_white {
    color: #fff;

}

.header-discount {
    padding: 10px 0 0 7px;
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto-Bold";
    font-size: 40px;
}

.discount__h3_color_yellow {
    color: #fbf934;
}

.discount__h3_color_white {
    color: #fff;
}

.header__button {
    padding-top: 17px;
    padding-left: 65px;
    margin-top: 75px;
    width: 200px;
    height: 60px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 10px 40px #bdedfc;
    border-radius: 33px;
    display: flex;
    font-family: 'OpenSans-Semibold';
    transition: 0.6s ease;
}

.header__button:hover {
    background-color: #e8ad69;
    box-shadow: -3px 5px 5px #cfbdfac5;
}

.header__button:active {
    border: 2px solid #222222;
    background-color: #b79bfa;
    box-shadow: 0px 0px 15px #e8ad69;
    transition: 0.1s ease;
}

.header-elem-three {
    right: 0;
    bottom: 205px;
    position: absolute;
}

/* main */
/* section receipts */
.receipts {
    margin: auto;
    width: 1600px;
    height: 1330px;
    background-color: #ffffff;
    position: relative;
}

.receipts-elem__fifth {
    top: 390px;
    left: 35px;
    width: 144px;

    position: absolute;
}

.receipts-wrapper {
    margin: -30px auto 0;
    width: 1385px;
    height: 1300px;
    background-color: #ffffff;
    opacity: 1;
    box-shadow: 0px 10px 40px rgb(126 155 189 / 35%);
    position: relative;
    z-index: 20;

}

.receipts-elem__first {
    top: 84px;
    left: 250px;
    position: absolute;
}

.receipts-elem__second {
    top: 50px;
    left: 820px;
    position: absolute;
}

.receipts-elem__third {
    top: 70px;
    right: 140px;
    position: absolute;
}

.receipts-elem__fourth {
    top: 520px;
    right: -50px;
    position: absolute;
}

.receipts-elem__six {
    top: 1150px;
    left: -50px;
    position: absolute;
}

.receipts-head {
    padding: 80px 0;
    width: 100%;
    height: 230px;
    font-family: "OpenSans-Bold";
    font-size: 50px;
    color: #333333;
    text-align: center;
    position: relative;
}

.receipts-product {
    margin: auto;
    width: 1065px;
    height: 950px;
    overflow: hidden;

}
.product__wrapper{
    height: 950px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    transition: margin-left 500ms;
}

.receipts-product__bag {
    width: 355px;
    height: 455px;
    background-color: #ffffff;
    text-align: center;
    font-family: "OpenSans-Regular";
    font-size: 18px;
    color: #929292;
    position: relative;

}
.receipts-product__bag img{
    margin: 20px auto 0;
    width: 80%;
}
.receipts-product__bag p {
    margin-top: 20px;
    padding: auto;
    width: 100%;
    bottom: 20px;
}

.receipts-product__bag b {
    font-size: 25px;
    color: #333333;
}


.arrow__prew,
.arrow__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #c2a2f5;
    font-weight: bold;
    font-size: 80px;
    transition: 0.6s ease;
}

.arrow__next {
    right: 0;
}

.arrow__prew:hover,
.arrow__next:hover {
    font-size: 90px;
    text-shadow: 0px 0px 15px #e8ad69;
    color: #e8ad69;
}

.arrow__prew:active,
.arrow__next:active {
    font-size: 70px;
    text-shadow: 1px 1px 2px #131213, -1px -1px 2px #131213;
    transition: 0.1s ease;
}

.indicator {
    text-align: center;
}

.dot {
    /* cursor: pointer; */
    height: 20px;
    width: 20px;
    margin: 30px 20px;
    background-color: #c2a2f5;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;

}


/* .dot:hover {

    background-color: #e8ad69;
    box-shadow: 0px 0px 15px #e8ad69;
}

.dot:active {
    box-shadow: 1px 1px 2px #131213, -1px -1px 2px #131213;
    transition: 0.1s ease;
} */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}














.receipts-elem__seventh {
    right: 60px;
    bottom: 170px;
    width: 88px;
    position: absolute;
}

/* section ourBrands */
.ourBrands {
    margin: auto;
    width: 1600px;
    height: 810px;
    background-color: #ffff;
    display: flex;
}

.ourBrands-description {
    padding: 260px 75px 0 215px;
    width: 50%;
    position: relative;
}

.ourBrands-elem__first {
    top: 240px;
    left: 455px;
    position: absolute;
}

.ourBrands-elem__second {
    bottom: 82px;
    left: 160px;
    position: absolute;
}

.ourBrands-description__title {
    font-family: 'OpenSans-Bold';
    font-size: 50px;
    color: #333333;
}



.ourBrands-description__subtitle {
    font-family: 'OpenSans-Regular';
    font-size: 28px;
    color: #333333;


}

.ourBrands-description__subtitle p {
    display: inline;
    color: #8d83f9;
}

.paragraph {
    margin-top: 10px;
    color: #c7c7c7;
}








.ourBrands-phone {
    width: 50%;
    position: relative;
}

.ourBrands-elem__third {
    top: 0px;
    right: 140px;
    width: 500px;
    position: absolute;
}

.ourBrands-elem__fourth {
    top: 124px;
    left: 100px;
    position: absolute;
}

.ourBrands-elem__fifth {
    top: 490px;
    right: 172px;
    width: 47px;
    position: absolute;
}


/* section Showcase */

.showcase {
    margin: auto;
    padding-top: 110px;
    width: 1600px;
    height: 1280px;
    background-color: #ffffff;
    position: relative;
}

.showcase-wrapper {
    margin: auto;
    width: 1385px;
    height: 1300px;
    background-color: #ffffff;
    opacity: 1;
    box-shadow: 0px 10px 40px rgb(126 155 189 / 35%);
    position: relative;
    z-index: 20;
}

.showcase-elem__first {
    top: 50px;
    left: 170px;
    position: absolute;
}

.showcase-elem__second {
    top: 194px;
    left: 130px;
    position: absolute;
}

.showcase-elem__third {
    top: 470px;
    right: -18px;
    position: absolute;
}

.showcase-elem__fourth {
    top: 930px;
    left: -60px;
    position: absolute;
}


.showcase-head {
    padding: 40px 0;
    width: 100%;
    font-family: "OpenSans-Bold";
    font-size: 50px;

    color: #333333;
    text-align: center;
}

.showcase-sorted {
    margin: auto;
    padding: 0 100px;
    width: 1100px;
    height: 70px;
    background-color: #fff;
    box-shadow: 0px 10px 40px rgb(126 155 189 / 35%);
    border-radius: 33px;
    font-family: 'OpenSans-Semibold';
}

.showcase-sorted__ul {
    width: 890px;
    height: 70px;
    color: #333333;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.showcase-sorted__ul li {
    margin: auto;
    cursor: pointer;
    font-family: "OpenSans-Semibold";
    font-size: 18px;
}

.showcase-sorted__ul li:hover {
    color: #b79bfa;
    text-shadow: -3px 10px 5px #cfbdfac5;

}

.showcase-sorted__ul li:active {
    font-size: 19px;
    color: #e8ad69;
    text-shadow: 0px 0px 15px #e8ad69;


}
.showcase-product {
    margin: 50px auto 0;
    width: 1100px;
    height: 900px;
    overflow: hidden;

}

.showcase-product__watch {
    width: 355px;
    height: 445px;
    background-color: #ffffff;
    text-align: center;
    font-family: "OpenSans-Regular";
    font-size: 18px;
    color: #929292;
    position: relative;

}
.showcase-product__watch img{
    margin: 20px auto 0;
    width: 80%;
}
.showcase-product__watch p {
    margin-top: 20px;
    padding: auto;
    width: 100%;
    bottom: 20px;
}

.showcase-product__watch b {
    font-size: 25px;
    color: #333333;
}



/* mail */
.mail {
    margin: auto;
    width: 1600px;
    height: 490px;
    background-image: url('../img/main/mail/backgroundMail.jpg');
    background-size: cover;
}

.mail-newsletter {
    margin: auto;
    padding-top: 135px;
    width: 990px;
    height: 350px;
    color: #ffffff;
}

.mail-newsletter__background {
    font-family: "Roboto-Black";
    font-size: 150px;
    opacity: 0.1;

}

.mail-newsletter__text {
    top: -150px;
    margin: auto;
    width: fit-content;
    font-family: "OpenSans-Bold";
    font-size: 50px;
    position: relative;
}

.mail__form {
    margin: auto;
    padding: 0 5px 0 30px;
    width: 850px;
    height: 70px;
    background-color: #fff;
    border-radius: 33px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.mail__form__input_email {
    width: 72%;

    border: none;

    font-family: "OpenSans-Regular";
}

.mail__form__input_submit {
    width: 26%;
    height: 60px;
    background-color: #8f7ff8;
    border: none;
    border-radius: 33px;
    font-family: 'OpenSans-Semibold';
    transition: 0.6s ease;

}

.mail__form__input_submit:hover {
    border-color: #b79bfa;
    background-color: #b79bfa;
    box-shadow: -5px 5px 10px #cfbdfac5;
}

.mail__form__input_submit:active {
    border: 2px solid #222222;
    background-color: #e8ad69;
    box-shadow: 0px 0px 15px #e8ad69;
    transition: none;

}






.footer {
    margin: auto;
    padding-top: 60px;
    width: 1600px;
    height: 400px;

    background-color: #ffffff;
    position: relative;
}

.footer-header {
    margin: auto;
    width: fit-content;
    font-family: "Roboto-Medium";
    font-size: 40px;
    color: #222222;
}

.footer-assortment {
    cursor: pointer;
    margin: 30px auto 50px;
    width: 530px;
    font-family: "OpenSans-Semibold";
    color: #b3b3b3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer-assortment li:hover {
    color: #b79bfa;
    text-shadow: -3px 10px 5px #cfbdfac5;
}

.footer-assortment li:active {
    color: #e8ad69;
    text-shadow: 0px 0px 15px #e8ad69;
}


.footer-communication {
    margin: auto;
    width: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;

}

.footer-communication li {
    cursor: pointer;
    padding-top: 13px;
    width: 55px;
    height: 55px;
    border: 2px solid #ecebed;
    border-radius: 27px;
    position: relative;
    transition: 0.6s ease;

}

.footer-communication li:hover {
    border-color: #b79bfa;
    background-color: #b79bfa;
    box-shadow: -3px 5px 5px #cfbdfac5;
}

.footer-communication li:active {

    background-color: #e8ad69;
    box-shadow: 0px 0px 15px #e8ad69;
    transition: 0.1s ease;

}

.footer-communication li img {
    margin: auto;
    height: 23px;
}




.footer-copyright {
    bottom: 0;
    width: 100%;
    height: 65px;
    background-color: #f6f5f7;
    position: absolute;
    display: flex;
}

.footer-copyright__text {
    margin: auto;
    width: fit-content;
    font-family: 'Montserrat';
    font-size: 15px;
    text-align: center;
    color: #888888;




}